<head>
    <link href="https://fonts.googleapis.com/css?family=Londrina Outline" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' />
    <link href='https://fonts.googleapis.com/css?family=Londrina Shadow' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Londrina Solid' rel='stylesheet'>
    <link rel="stylesheet" href="/css/global.css" />
    <link rel="stylesheet" href="/css/mobile.css" />
    <title>Les bonnes adresses d'Evy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <style>
        body {
            margin: 0;
        }
    </style>
</head>