<div id="navBarPlaceHolder" class="navBarPlaceHolder">
    <div id="navBar" class="navBar">
        <div class="navBarItem">
            <div class="dropdown">
                <div class="dropdownButton">
                    <img src="https://res.cloudinary.com/dvpcjyb48/image/upload/v1606652849/home-24px_qb2ojc.svg"
                        alt="Accueil" />
                </div>
                <div class="dropdownMenu">
                    <a href="/" target="_parent">
                        <div class="dropdownItem">
                            Toutes les adresses
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="navBarItem">
            <div class="dropdown">
                <div class="dropdownButton">Américain</div>
                <div class="dropdownMenu">
                    <a href="/peruvien" target="_parent">
                        <div class="dropdownItem">
                            Péruvien
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="navBarItem">
            <div class="dropdown">
                <div class="dropdownButton">Asiatique</div>
                <div class="dropdownMenu">
                    <a href="/chinois" target="_parent">
                        <div class="dropdownItem">
                            Chinois
                        </div>
                    </a>
                    <a href="/japonais" target="_parent">
                        <div class="dropdownItem">
                            Japonais
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="navBarItem">
            <div class="dropdown">
                <div class="dropdownButton">Européen</div>
                <div class="dropdownMenu">
                    <a href="/francais" target="_parent">
                        <div class="dropdownItem">
                            Français
                        </div>
                    </a>
                    <a href="/italien" target="_parent">
                        <div class="dropdownItem">
                            Italien
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="navBarItem">
            <div class="dropdown">
                <div class="dropdownButton">Fusion</div>
                <div class="dropdownMenu">
                    <a href="/franco-japonais" target="_parent">
                        <div class="dropdownItem">
                            Franco-Japonais
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>