<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <title>Titre de la page</title>
    <!-- <link rel="stylesheet" href="style.css" /> -->
  </head>
  <body>
    <%- include("./partials/header") -%>
    <ul>
      <li>Home</li>
      <li>Americain</li>
      <li>Européen</li>
      <li>Asie</li>
      <li>Fusion</li>
    </ul>
    <div><%= foo %></div>
    <%- include("./partials/footer") -%>
  </body>
</html>
