.header {
  background-color: rgb(48, 46, 46);
  height: 200px;
  padding-top: 20px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.header .title {
  color: white;
  font-family: "Londrina Shadow";
  text-align: center;
  font-size: 60px;
  margin: 0;
}
.header .logo {
  font-size: 60px;
  left: 100%;
  animation-name: move;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  display: flex;
  justify-content: center;
  width: 100px;
}
@keyframes move {
  0% {
    transform: rotateZ(-30deg);
  }
  50% {
    transform: rotateZ(30deg);
  }
  100% {
    transform: rotate(-30deg);
  }
}
.navBarPlaceHolder {
  position: relative;
  height: 50px;
}
.navBar {
  height: 50px;
  width: 100%;
  display: flex;
  background-color: rgb(48, 46, 46);
  position: absolute;
}
.navBar .navBarItem {
  flex: 1;
  display: flex;
  height: 50px;
  color: white;
  font-family: "Londrina Solid";
  font-size: 30px;
  align-items: center;
  justify-content: center;
  border-right: 1px solid white;
  border-left: 1px solid white;
}
.navBar .navBarItem:first-child {
  flex: none;
  width: 60px;
  border-left: none;
}
.navBar .navBarItem:last-child {
  border-right: none;
}
.navBar .navBarItem:first-child img {
  height: 45px;
  width: 45px;
}
.navBar .navBarItem:first-child .dropdown .dropdownMenu {
  width: max-content !important;
}
.navBar .navBarItem:first-child .dropdown .dropdownMenu .dropdownItem {
  padding: 5px 10px;
}
.dropdownMenu a {
  text-decoration: none;
  color: black;
}
.navBar .navBarItem .dropdown {
  position: relative;
  width: 100%;
  height: 100%;
}
.navBar .navBarItem .dropdown .dropdownMenu {
  pointer-events: none;
}
.navBar .navBarItem .dropdown .dropdownButton {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navBar .navBarItem .dropdown:hover .dropdownMenu {
  top: 100%;
  opacity: 1;
  width: 100%;
  box-shadow: 0px 0px 5px black;
  color: black;
  transition: opacity 250ms ease;
  pointer-events: auto;
}
.navBar .navBarItem .dropdown:hover {
  background-color: rgb(221, 83, 83);
  cursor: pointer;
}
.navBar .navBarItem .dropdown .dropdownMenu {
  position: absolute;
  top: 100%;
  opacity: 0;
  width: 100%;
  transition: all 250ms ease;
}
.navBar .navBarItem .dropdown .dropdownItem {
  background-color: white;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  transition: all 125ms ease;
  color: black;
}
.navBar .navBarItem .dropdown .dropdownItem:hover {
  background-color: rgb(224, 230, 231);
  transition: all 250ms ease;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0px 0px 20px black;
}
.scrollToTopButton {
  cursor: pointer;
}
.pageTitleContainer {
  justify-content: center;
  display: flex;
}
.pageTitle {
  text-align: center;
  font-size: 45px;
  font-family: "Londrina Outline";
  border-style: ridge;
  display: flex;
  width: fit-content;
  margin-bottom: 0;
  padding: 10px;
  background-color: rgba(48, 46, 46, 0.9);
  color: white;
}
.goodAddress {
  font-family: "Roboto";
  text-align: center;
}
.goodAddress .name {
  font-size: 24px;
}
.goodAddress .speciality,
.goodAddress .address,
.goodAddress .phoneNumber,
.goodAddress .website,
.goodAddress .legend {
  font-size: 15px;
}
.goodAddress .picturesAndLegends {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  padding: 0;
}
.goodAddress .picture {
  flex: 1;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
  border-right: 1px solid white;
  border-left: 1px solid white;
  display: flex;
  flex-direction: column;
  max-width: 450px;
}
.goodAddress .picture img {
  width: 100%;
  height: auto;
  box-sizing: border-box;
  display: inline;
  border: 5px solid white;
}
.legend {
  align-items: center;
  display: flex;
  justify-content: center;
  flex: 1;
}
span a:link {
  color: #b83030;
  text-decoration: none;
  display: flex;
  justify-content: center;
}
span a:visited {
  color: #1b8360;
  text-decoration: none;
  display: flex;
  justify-content: center;
}
span a:hover {
  opacity: 0.7;
}
.scrollToTopButton {
  position: fixed;
  width: 35px;
  height: 35px;
  bottom: -50px;
  right: 10px;
  opacity: 0.7;
  transition: all 250ms ease;
}
.site {
  height: 20px;
  width: 20px;
  margin-right: 10px;
  justify-content: center;
}
.facebook {
  height: 20px;
  width: 20px;
  margin-right: 10px;
  justify-content: center;
  text-align: center;
}
.instagram {
  height: 20px;
  width: 20px;
  justify-content: center;
}
.goodAddress .website {
  display: flex;
  justify-content: center;
}
.goodAddress .website a:hover {
  opacity: 0.7;
}
.goodAddress .phoneNumber img {
  height: 20px;
  width: 20px;
  margin-right: 5px;
  align-items: center;
}
.goodAddress .address img {
  height: 20px;
  width: 20px;
  margin-right: 5px;
  align-items: center;
}
.goodAddress .phoneNumber {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
.goodAddress .address {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
